* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  box-shadow: 40px;
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 15px;
  border-radius: 5px;
}
h1 {
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
}
p {
  margin: 10px 0;
  font-size: 24px;
  color: rgb(99, 95, 95);
}
input {
  margin: 20px 0;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid rgb(212, 206, 206);
  font-size: 18px;
  color: rgb(71, 70, 70);
  outline: none;
}

button {
  padding: 15px;
  background-color: white;
  border: 1px solid rgba(223, 77, 203, 0.89);
  border-radius: 5px;
  color: rgba(223, 77, 203, 0.89);
  font-size: 20px;
}
button:hover {
  background-color: rgba(223, 77, 203, 0.89);
  color: white;
  cursor: pointer;
}

.display {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: gray;
}
span {
  color: rgba(223, 77, 203, 0.89);
}
